@import url("nullstyle.css");

h1{
    text-align: center;
}
body{
    background-color: aqua;
}
.time{
    background: pink;
    width: 100px;
    height: 100px;
}

.marg{
  margin: 100px 50px;
  border: 5px solid red;
  height: 100px;
  /* min-width: 700px;
  max-width: 1000px; */

  display: flex;
  justify-content: center;
  padding: 5px;
}

table, td{
    border: 1px black solid;
    /* margin: 0px;
    padding: 0px; */
}
table{

    width: 200px;
    height: 200px;
    margin-left: 200px;
    border-collapse: collapse;
}

video{
    width: 500px;
    height: 500px;
}